body
{
    user-select: none;
    background-color: #424242;
    overflow: hidden;
}

._panelRoot
{
    border: solid white 1px;
    pointer-events: all;
}

._panelTitleBar
{
    background-color: #1D1D1D;
    align-items: center;
}

._panelTitleBarTitle
{
    color: white;
    padding-left: 5px;
    flex: 1;
}

._panelTitleBarButtons
{
    align-content: flex-end;
    display: flex;
}
._panelTitleBarClose
{
    width: 1em;
    line-height: 1;
    background-color: red;
    color: white;
    text-align: center;
    height: 100%;
    align-content: center;
}


._panelContent
{
    background-color: #303030;
}